.settings-container{
    background-color: #f9fafffe;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 40px;
}

.account-settings-label{
    background-color: #e0e3f5;
    color: #0A0529 !important;
    width: fit-content;
    padding: 20px 60px;
    border-radius: 20px;
}

#settings-tabs{
    color: #0A0529 !important;
}

.settings-tab{
    padding: 12px 24px !important; 
    text-transform: none !important; 
    font-size: 2em !important;
}