.upload-picture{
    background-color: #cdd4ffa0 !important;
    color: #0A0529 !important;
    padding: 10px 30px !important;
    font-weight: bold !important;
    border-radius: 10px !important;
}

.upload-disabled{
    background-color: #e7e7e7 !important;
    color: rgb(71, 71, 71) !important;
}