.profile-background{
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-button{
    width: fit-content;
    margin-left: auto;
    margin-top: -190px;
    margin-bottom: 160px;
}

.change-background{
    background-color: hsl(209, 84%, 93%) !important;
    padding:  8px 15px !important;
    color: hsl(218, 94.40%, 21.20%) !important;
    font-weight: bold !important;
}

.save-background{
    background-color: hsl(56, 100%, 72%) !important;
    padding:  8px 15px !important;
    color: hsl(55, 48%, 16%) !important;
    font-weight: bold !important;
}

.cancel-background{
    background-color:rgb(255, 193, 193) !important;
    padding:  8px 15px !important;
    color: darkred!important;
    font-weight: bold !important;
    margin-right: 10px !important;
}

@media screen and (max-width:800px) {
    /* .profile-background{
        height: 350px; 
    } */

    .background-button{
        margin: 0 auto;

    }
}

@media  screen and (max-width:1200px) {
    .profile-background{
        height: 350px; 
    }
}