.crud-modal{
    z-index: 1200;
}

.modal-backdrop{
    z-index: 1200;
}

.crud-modal .modal-content{
    background-color: hsl(223, 100%, 99%);
}
.crud-modal .modal-body{
    margin:30px;
}

.crud-modal .modal-header{
    text-align: center;
    border-bottom: none;
}

.crud-modal .modal-footer{
    border-top: none;
}

.crud-modal .modal-title{
    font-weight:bold;
    letter-spacing: 0.5px;
    width: 100%;
    color: #1e1b46;
    font-size: 1.8em;
}

.crud-modal .btn-close{
    font-weight: bold;
    color: #1e1b46 ;
}

.crud-submit{
    background-color: #0A0529;
    text-transform: none;
    font-family: sans-serif !important;
    font-size: 1.3em;
    letter-spacing: 1px;
    width: 100%;
    margin: 0px 30px;
    color:hsl(209, 73%, 93%);
}

.crud-submit:disabled{
    background-color: #0a0529bc;
}

.crud-submit:hover{
    background-color: #070616;
}

.crud-submit:active{
    background-color: #0e0c27 !important;
}

.crud-cancel,
.crud-confirm{
    font-size: 0.9em;
    font-weight: bold;
}

.crud-cancel{
    margin-right: 10px;
    background-color: rgb(74, 11, 11);
}

.crud-cancel:hover{
    background-color:  rgb(47, 8, 8);
}

.crud-cancel:active{
    background-color: rgb(47, 8, 8) !important;
}

.logo-label{
    color: #070616;
    font-weight:bold;
}

.image-uploader{
    padding: 15px 10px;
}

.custom-menu-item{
    font-weight: bold !important;
    font-size: large !important;
}