
.fc-prev-button, .fc-next-button, .fc-today-button{
    border: none !important;
    background-color: #0A0529 !important;
}

.interview-event {
  font-size: 16px;
  font-weight:bold;
  border:none
}

.interview-event .fc-event-time{
  font-size: 16px;
}

.status-scheduled {
  background-color: #e1f0ff !important; 
}


.status-scheduled
.fc-event-title,
.status-scheduled
.fc-event-time {
  color:  #1976d2   !important
}

.status-completed {
  background-color:  #effff6 !important; 
}


.status-completed
.fc-event-title,
.status-completed
.fc-event-time {
  color:  #0b9544  !important
}

.status-canceled {
  background-color: #f5e0df   !important; 
}

.status-canceled
.fc-event-title,
.status-canceled
.fc-event-time {
  color:  #df3229  !important
}

.status-rescheduled {
  background-color: #ece5fc !important; 
}


.status-rescheduled
.fc-event-title,
.status-rescheduled
.fc-event-time {
  color: #7c45eb !important
}